@media only screen and (min-width: 1150px) {
    .judge-box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        margin-bottom: 3rem;
    }

    .judge-title {
        margin: auto;
        display: inline-flex;
        padding: 0.625rem;
        align-items: flex-start;
        gap: 0.625rem;
        
    }

    .judge-title h1 {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    .judge-title > p {
        color: #FFFFFF;
        text-align: center;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 4.2rem;
    }

    .judge-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10rem;
        margin-top: 1.4rem;
    }

    .judge {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }

    .judge-image {
        width: 11.44138rem;
        height: 14.6875rem;
        border-radius: 2.5rem;

    }

    .judge-name {
        color: #FFF;
        text-align: center;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.9rem;
        letter-spacing: 0.0625rem;
    }

    .judge-description {
        color: #FFF;
        width: 13rem;
        text-align: center;
        font-size: 0.775rem;
        font-weight: 400;
        line-height: 1.1rem;
        letter-spacing: 0.125rem;
    }

    #tql {
        background-image: url("./assets/tqlong.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #nvh {
        background-image: url("./assets/nvha.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ntnd {
        background-image: url("./assets/ntndiep.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ltg {
        background-image: url("./assets/ltgiang.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #vxt {
        background-image: url("./assets/vxtung.png");
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
}