:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url(./assets/SourceSansPro-Light.otf);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'SourceSansPro', monospace;
    color: #FFFFFF;
}

.LOGO {
    width: 3.16469rem;
    height: 3.16919rem;
}
a {
    transition: background 0.3s;
}

a:hover {
    background: rgb(26,53,200);
    background: linear-gradient(90deg, rgba(26,53,200,1) 0%, rgba(101,67,173,1) 35%, rgb(202, 199, 224) 66%, rgb(28, 65, 230) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: right center;
    background-size: 200% auto; 
}
nav {
    display: flex;
    gap: 35rem;
    align-items: center;
    padding: 0.39613rem 1.51856rem;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul {
    float: right;
    display: flex;
    padding: 0.59425rem 0.66025rem;
    align-items: flex-start;
    gap: 1.3865rem;
}

li {
    display: flex;
    width: 6.6025rem;
    flex-direction: column;
    text-align: center;
    font-size: 0.92438rem;
    line-height: 0.95075rem;
}

.header {
    width: 100%;
    height: 100vh; 
}

video {
    width: 100%;
    height: auto;
}
.main-content-title {
    margin-top: 180.62px;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    line-height: 4.2rem;
}
#title_description {
    text-align: center;
    font-size: 1.6875rem;
    line-height: 2.72rem;
    font-weight: 550;
}
.button-container {
    display: flex;
    justify-content: center;
}
button {
    width: 247px;
    height: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-family: 'SourceSansPro';
    line-height: 0.9rem;
    letter-spacing: 0.0625rem;
    font-size: 0.875rem;
    border-radius: 5px;
    transition: border-color 0.3s;
}
button:hover
{
    border-color: rgb(121, 152, 255);
}


a {
    color: white;
    text-decoration: none;
}

.main-content {
    background: linear-gradient(180deg, #000 0%, #0E126E 30.21%, #0C0C0C 100%);
    height: 203.1875rem;
    display: flex;
    flex-direction: column;
}

#the_le {
    margin-top: 0;
    padding-top: 7.37rem;
}
#the_le_p {
    width: 26.55rem;
    height: 9.075rem;
    text-align: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2.6rem;
    font-size: 1.2rem;
    line-height: 1.92rem;
}
.second {
    margin-bottom: 6.2rem;
}

.timeline {
    max-width: 34rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}
.timeline div {
    border: 2px solid #FFFFFF;
    border-radius: 1.07956rem;
    padding: 1.5rem;
}
.timeline p {
    line-height: 1.25rem;
}
.timeline {
    max-width: 34rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}
.timeline div {
    border: 2px solid #FFFFFF;
    border-radius: 1rem;
    padding: 1.5rem;
}
.timeline h2 {
    line-height: 1.02rem;
    letter-spacing: 0.07081rem;
    font-weight: 700;
    font-size: 1.8rem;
}
.timeline p {
    line-height: 1.25rem;
    letter-spacing: 0.09375rem;
    font-size: 0.875rem;
}

.timeline:nth-child(odd) {
    border-left: 2px solid #FFFFFF;
    padding-left: 3rem;
    transform: translateX(17rem);
}

.timeline:nth-child(even) {
    border-right: 2px solid #FFFFFF;
    padding-right: 3rem;
    transform: translateX(-16.88rem);
}

#main-timeline {
    margin: 0rem auto;
}

.timeline:nth-child(odd)::before, 
.timeline:nth-child(even)::before {
    content: '';
    background: #FFFFFF;
    width: 3em;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.timeline:nth-child(even)::before {
    right: 0;
}
.timeline:nth-child(odd)::before {
    left: 0;
}
.timeline:nth-child(odd) div::before, 
.timeline:nth-child(even) div::before {
    content: '';
    background: #FFFFFF;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    border-radius: 50%;
}
.timeline:nth-child(odd) div::before {
    left: -0.5em;
}
.timeline:nth-child(even) div::before {
    right: -0.5em;
}

.prize-align {
    margin-top: 1.5em;
    font-size: 3.5rem;
    line-height: 4.2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prize-container {
    display: flex;
}

.prize-container p {
    font-size: 1.98831rem;
    line-height: 2.38594rem;
    text-align: left;
    width: 35.38744rem;
    margin-left: 1.2rem;
}
.prize-container img {
    width: 2.15194rem;
    height: 2.15194rem;
    transform: translateY(0.68em);
}
strong {
    font-weight: 1000;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.8s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.back-video {
    position: absolute;
    right: 0;
    bottom:0;
    z-index: -1;
}

img:hover {
    width: 3.16469rem;
    height: 3.16919rem;
    background-image: url(/assets/color-logo.png);
}

@media screen and (max-width: 1150px) {    
    html, body {
        overflow-x: hidden;
      }
    body {
        position: relative
      }
    .header {
        background-size: cover;
        width: 100%;
        height: auto;
        padding-top: 1px;
    }
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logo {
        width: 2rem;
        height: auto;
    }
    .main-content {
        height: auto;
        
    }
    .main-content-title {
        margin-top: 0rem;
    }

    .main-content-title h1 {
        font-size: 1.64806rem;
        line-height: 1.97763rem;
        margin-bottom: 1px;
    }
     
    #title_description {
        font-size: 0.79456rem;
        margin-top: 0px;
        margin-bottom: 1.8rem;
        letter-spacing: 0.02081rem;
    }

    .button-container {
        transform: translateY(-1.9rem);
    }
    button {
        width: 8.26906rem;
        height:  1.77144rem;
        font-size: 0.8rem;
        line-height: 0.3rem;
        letter-spacing: 0.02081rem;
        font-style: normal;
        border: 0.667px solid #FFF;
        border-radius: 0.2rem;
        margin-bottom: 0rem;
    }
    #the_le {
        text-align: center;
        font-size: 1.64806rem;
        padding-top: 0.5rem;
        margin-bottom: 0rem;
    }
    #the_le_p {
        width: 18.375rem;
        height: 5.52081rem;
        text-align: center;
        font-size:  0.79456rem;
        line-height: 1.8em;
        margin-top: 0.1rem;
        margin-bottom: 4rem;
        letter-spacing: 0.02081rem;
    }
    #main-timeline {
        width: 80vw;
    }
    #main-timeline .timeline {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right:0;
        border: none;
    }
    #main-timeline .timeline::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    #main-timeline .timeline div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    .prize-align {

        margin-top: 2px;
    }
    .prize-align h1 {
        font-size: 1.6669rem;
    }
    .prize-container img{
        width: 1.3rem;
        height: 1.3rem;
    }
    
    .prize-container p {
        font-size: 0.79456rem;
        width: 16rem;
    }
}


