div.footer {
    width: 100%;
    height: auto;
    background: #000;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
}

.section-1 {
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    display: none;
}
.email-box {
    display: none;
}

.contact {
    /*background-color: red;*/
    margin: 2rem;
    width: 14.188rem;
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 0.188rem;
    border: 0.125rem solid #FFF;
}

.contact > p {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 0.875rem;
    font-family: SourceSansPro, sans-serif;
    letter-spacing: 0.063rem;
}
